.messageUserListItem {
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    padding: 10px;
}

.modalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.modalInput {
    margin-top: 10px;
}

.modalSendButton {
    margin-top: 10px;
}

.modalList {
    width: '100%';
}